<div
	class="card"
	[pokemonCardType]="pokemon.types[0].type.name"
	(click)="goToPokemon(pokemon.id)">
	<div class="card-header">
		<img
			noImage
			sizes="(max-width: 600px) 480px,
         800px"
			[src]="pokemon.defaultImage" />
		<div class="name">
			<h2>{{ pokemon.name | titlecase }}</h2>
		</div>
	</div>
	<div class="card-body">
		<div class="card-footer">
			<span [pokemonType]="item.type.name" *ngFor="let item of pokemon.types">{{
				item.type.name | titlecase
			}}</span>
		</div>
	</div>
</div>
